<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <small>Jackson Financial Partners, LLC is an Independent Financial Service agency committed to providing you the highest level of care and protection in order to help safeguard your income and assets in case of risk or loss. Jackson Financial Partners, LLC, nor its agents provide tax, legal, or accounting advice. Please consult your own tax, legal, or accounting professional before making any decisions.</small>
            <hr>
            <p>{{ site.copyright }}</p>
        </div>
    </div>
</footer>
