<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="{{ site.github.url }}/img/{{ site.banner }}" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>{{ page.title }}</h1>
                {{content}}
                <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                  Central united pays your benefits directly to you.
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>CP4000 cancer care plus plan</h2>
                <p>Four different plans to suit your budget and your needs. Issue ages from 18-69. High increases in most all benefit payout options. Attractive (and optional) riders including intensive care and critical care (heart) riders.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>24 hour and off-the- job accident product</h2>
                <p>A new, accident only disability income rider has been added. It has two benefit amounts ($1,000 and $2,000), two benefit duration options (6 months and one year) and two Occupation classes (I & II). There is more good news; The PAID Accident product has a $60.00 Wellness Rider which historically has triggered after a policy has been inforce for one year; now, the Wellness benefit can be used 30 Days after the effective date</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Out of pocket protection plan</h2>
                <p>This helps pay deductibles and co-payments and includes a daily confinement benefit and a one-time admission benefit including your choice of $2,500, $5,000 or $6,350. Doctor office visits are included and other optional benefits are available.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        {% include footer.html %}

    </div>
    <!-- /.container -->

</body>

</html>
